# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app


# Custom - for reasons


# Unity stuffs

# .meta files are apparently created when you load a project, so we dont need them here
*.meta
 
playback-game/Temp/*.*
playback-game/Libary/*.*
*.bin
*.log
*.info