# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app


# Custom - for reasons

*.mp4

src/ver.h

src/playback/Debug

src/playback/Release

src/playback/playback.opensdf

src/playback/playback.sdf